{{> head }}
{{> navbar }}
    

<div class="row">
    <div class="col-8">
        <h1>TESLA</h1>
        <p>Sit aliquip nostrud eiusmod ea reprehenderit. Lorem non anim non excepteur eu ut aliquip laboris. Eu non consectetur dolore pariatur voluptate aute fugiat. Eiusmod enim non tempor fugiat laboris veniam. Nisi do magna fugiat labore irure commodo esse. Nisi nulla minim amet sunt esse nulla irure occaecat. Aute Lorem anim culpa quis ad adipisicing.</p>
    </div>
    <div class="col-4">
        <img src="../assets/img/tesla-1724773_1920.jpg" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer }}