{{> head }}
{{> navbar }}

<div class="jumbotron" style="padding: .5rem 1rem;background: #cecece;">
    <h1 class="display-4">Hello, {{ capitalizar nombre }}</h1>
    <p class="lead">Non dolor commodo cupidatat ipsum nostrud.</p>
    <hr class="my-4">
    <p>Laboris dolore adipisicing labore tempor ullamco anim quis mollit officiaad.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>

{{> footer }}